

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*same style elements*/



h2,
p,
strong,{ font-family: 'Garamond'}

nav{ width : 50%;
padding : 0px:
margin :100 auto;
border-top:0px;

 border: 1px solid red;
border-width: 1px solid red;
border-radius:7px 7px 0px 0px;
text-align :center
}

img {
width= 700px;
height= 450px;
}
video {
width: 700px;
height: 450px;
 border: 1px solid red;
 }
 


/*different style elements*/
body{
background-color : DimGrey;
}
strong{ color : white;
}
li{color : red; }
p{ color : red;}
h2{color: black;}
h1{font-family: 'Bookman';
color : black;}

