

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*same style elements*/



h2,
p,
strong,{ font-family: 'Garamond'}

h2,
p,
strong,{ margin: 0.2%}


.nav {
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  display:inline;
}

.nav a {
  display:inline-block;
    padding:10px;
  color: white;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}

img {
width= 640%;
height= 426px;
}
video {
width: 700px;
height: 450px;
 border: 1px solid red;
 }
 
 .pol{color: DarkOrange;}
 .firsth{ font-family: 'Comic Sans MS';}
 
 em{
 color:#333; 
 margin-left: 2%;
 }
 
 
 
/*different style elements*/
body{
background-color : DimGrey;
}
strong{ color : white;
}
li{color : blue; }
p{ color : #007FFF;}
h2{color: black;}
h1{font-family: 'Bookman';
color : black;}

